@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
#login{width: 600px; height: 500px;}
body{
    background-image:linear-gradient( to bottom, #079138, #089c46, #008451, #089c7c,#38a7a1 ); background-repeat: no-repeat; background-size: cover; position: relative;}
section#login{  background-position: left bottom; width: 700px; height: 500px; display: inline-block; ;}
section#login div#imagem{
    float: left; width: 280px; height: 500px;
}
#div#form{float: right; width: 420px; height: 500px;}
}

@media screen and (min-width: 992px){

body{
        background-image:linear-gradient( to bottom, #079138, #089c46, #008451, #089c7c,#38a7a1 ); background-repeat: no-repeat; background-size: cover; position: relative;}
section#login{  background-position: left bottom; width: 800px; height: 600px;}
section#login div#imagem{
        float: right; width: 320px; height: 600px;
    }
#div#form{float: left; width: 480px; height: 600px;}
    }
