@charset "UTF-8";
@media screen and (min-width: 768px){

#bg{display: none;}
header{text-align: left;}
header h1{ text-align: center;}
menu{ display: block;}
menu > ul > li { display: inline-block; }
main article{ width: 768px;}
}